<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<h3>Appointments</h3>
<% @patient.appointments.each do |appt| %>
  <p>Date: <%= appt.appointment_datetime.strftime('%B %d, %Y at %H:%M') %></p>
  <p>Doctor: <%= link_to appt.doctor.name, appt.doctor %></p>
<% end %>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
