<h1>Doctor Page</h1>
<b>Name:</b>
<h2><%= @doctor.name %></h2>

<b>Department</b>
<h2><%= @doctor.department %></h2>
<br>

<% @doctor.patients.each do |patient| %>
  <ul>
    <b>name:</b>
    <b><%= link_to patient.name, patient_path(patient) %></b>
    <b>appntmt:</b>
    <%= patient.appointments.each do |ap| %>
      <li><%= link_to "#{ap.appointment_datetime.strftime('%B %d, %Y')} at #{ap.appointment_datetime.hour}:#{ap.appointment_datetime.strftime('%M')}", appointment_path(ap.id) %></li>
    <% end %>
  </ul>
<% end %>
